@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    #020617,
    #312e81,
    #581c87
  );
}

